**/*.jpg
**/*.png
**/*.tif
**/*.ome.tif
**/*.tiff
**/*.pth
**/.DS_Store
**/*.pyc
**/*.geojson
**/*.csv
**/*.json
**/*.qpdata
**/*.qpproj
**/*.qpproj.backup
**/.ipynb_checkpoints/*
**/*.ipynb
/data/
color*
**/color*
!*.py
!*.groovy

